body {
    font-family: helvetica;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.top {
    background-color: #001B2E;
    color: white;
}

.top h1 {
    font-size: 30px;
    font-weight: 700;
    padding: 20px 0px 20px 100px;
    margin: 0;
    text-align: left;
}

.top h1 a {
    text-decoration: none;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.mainImage img {
    margin: 10px 100px 0px 100px;
    height: 240px;
}

.container {
    margin: 10px 0px;
    background-color: #F0F0F0;
}

.content {
    margin: 0px 100px;
    text-align: left;
}

.explanation {
    margin: 10px 0px 0px;
    background-color: #F0F0F0;;
    color: black;
    display: flex;
    padding: 10px 100px;
}

.explanation .left {
    text-align: left;
}

.explanation button {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border-width: 0px;
    color: white;
    font-weight: 700px;
    background-color: #0062C4;
    font-size: 15px;
    cursor: pointer;
}

.explanation img {
    width: 400px;
    padding: 10px;
}

.search, .reserve {
    margin: 10px 0px 0px;
    background-color: #C1E0FF;
    padding: 20px 90px;
}

.reserve {
    text-align: center;
    padding: 10px;
}

.search input[type="submit"], .reserve input[type="submit"] {
    background-color: #C1E0FF;
    border-radius: 10px;
    padding: 5px 20px;
    color: #0062C4;
    font-weight: 700;
    font-size: 15px;
    border-color: #0062C4;
    border-width: 2px;
    cursor: pointer;
    margin: 0px 10px;
  }

.catalog, .news {
    height: auto;
    min-height: 100%;
    padding: 0px 100px;
    margin: 0;
}

.books img {
    width: 150px;
}

.books ul {
    list-style-type: none;
}

.books li {
    margin: 1rem 0;
    display: flex;
    align-items: center;
}

.books li span {
    display: block;
}

section ul {
    list-style-type: none;
    padding: 0;
}
section li {
    padding: 3px;
}

.searchType2 ul{
    display: flex;
}

.searchType2 li {
    margin-right: 10px;
}

nav {
    padding: 0px 80px;
}

footer {
    height: 70px;
    position: relative;
    background-color: #001B2E;
    color: white;
    text-align: left;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer p {
    margin: 0px 100px;
    font-size: 14px;
}