body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: helvetica;
    margin: 0;
    padding: 0;
}

.top {
    background-color: #001B2E;
}

.top h1 {
    font-size: 25px;
    padding: 0px 100px;
}

.top h1 a {
    text-decoration: none;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav {
    padding-left: 80px;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    margin: 0 100px;
}

.mainImage img {
    height: 600px;
    width: 1600px;
}

footer p {
    margin: 0px 100px;
    font-size: 14px;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    align-items: center;
}

.explanation {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    background-color: #F0F0F0;;
    color: black;
    padding: 20px 100px;
}

.explanation .left {
    grid-area: 1 / 1 / 1 / 9;
    text-align: left;
    padding: 0px 20px;
}

.explanation button {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border-width: 0px;
    color: white;
    font-weight: 700px;
    background-color: #0062C4;
    font-size: 15px;
    cursor: pointer;
}

.explanation img {
    grid-area: 1 / 10 / 1 / 12;
    width: 300px;
    height: 200px;
    padding: 10px;
}

.search {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 15px;
    margin: 10px 0px 0px;
    background-color: #C1E0FF;
    padding: 20px 100px;
}


.searchType1 {
    grid-column: 1 / auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.searchBox {
    display: flex;
}

.searchType2 {
    grid-column: 3 / auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.searchType2 ul {
    display: flex;
    gap: 5px
}

.reserve {
    text-align: center;
    padding: 10px;
}

.search input[type="submit"], .reserve input[type="submit"] {
    background-color: #C1E0FF;
    border-radius: 10px;
    padding: 5px 20px;
    color: #0062C4;
    font-weight: 700;
    font-size: 15px;
    border-color: #0062C4;
    border-width: 2px;
    cursor: pointer;
    margin: 0px 10px;
  }

.books {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, max-content);
    gap: 30px;
}

.books img {
    width: 150px;
}

.books ul {
    list-style-type: none;
}

.books li {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.books li span {
    display: block;
}

footer {
    flex-shrink: 0;
    height: 70px;
    position: relative;
    background-color: #001B2E;
    color: white;
    text-align: left;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
}

.news {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

@media (max-width: 640px) {
    .top h1 {
        font-size: 20px;
        text-align: center;
        padding: 0;
    }

    nav {
        padding: 0;
    }

    nav ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    
    nav a {
        font-size: 15px;
    }

    .content {
        margin: 0 10px;
    }

    .mainImage img {
        height: 300px;
        width: 800px;
    }

    footer p {
        margin: 0px 10px;
        font-size: 12px;
    }

    .explanation {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .explanation .left {
        grid-area: 2 / 1 / 2 / 1;
    }

    .explanation .right {
        grid-area: 1 / 1 / 1 / 1;
    }

    .search {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 10px 100px;
    }
    .searchType1 {
        grid-column: 1 / auto;
        grid-row: 1 / 1;
    }

    .searchType2 {
        grid-column: 1 / auto;
        grid-row: 2 / 2;
    }

    .books {
        grid-template-columns: repeat(1, 1fr);
    }

    .books li {
        flex-direction: row;
    }
}

@media (min-width: 641px) and (max-width: 1023px) {
    .top h1 {
        font-size: 25px;
    }

    .books {
        grid-template-columns: repeat(3, 1fr);
    }    
}

@media (min-width: 1024px) {
    .top h1 {
        font-size: 30px;
    }

    .news {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 100px;
    }
}


section ul {
    list-style-type: none;
    padding: 0;
}

section li {
    padding: 3px;
}


